@charset "UTF-8";
*{
    margin: 0;
    padding: 0;

}
:root{
    --verdePrincipal: #034018;
    --verdeSecundario:#01260A;
    --douradoPrincipal: #F2B035;
    --douradoSecundario:#A6610D;
    --morron:#733906;
  
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/um-soldado-a-beira-de-um-penhasco_1268-25036.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center ;
    background-attachment: fixed;
    
    
}
header{
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.267);
}
.area-navegação-principal{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #01260adf;
    box-shadow:inset 0px 0px 20px 10px ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.material-symbols-outlined {
    color: var(--douradoPrincipal);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.area-navegação-principal h1{
    text-decoration: none;
    color: var(--douradoPrincipal);
}

.main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    
}
.input-tarefa{
    height: 40px;
    width: 200px;
    border-radius: 8px;
    border: px solid var(--verdeSecundario);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.415);
    outline: 0;
}



.btn-tarefa{
    margin-left: 15px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.415);
    font-weight: bolder;
    font-size: 20px;

}

.btn-tarefa:hover{
    background-color: var(--verdeSecundario);
    color: var(--douradoPrincipal);
}

.tarefas{
    width: 90%;
    margin-top: 20px;
}
.tarefas li{
    margin: 1px;
    width: 100%;
    min-height: 50px;
    margin-left: 20px;
    padding: 3px;
    font-size: 20px;
    border: 1px solid var(--verdeSecundario);
    border-radius: 5px;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.741);
    list-style: none;
    box-shadow: inset 1px 1px 5px ;
    position: relative;
}

.apagar{
    background-color: aliceblue;
    border: 1px solid black;
    padding: 4px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    border-radius: 5px;
    color: var(--verdeSecundario);
    background-color: white;
    font-weight: bolder;
    font-size: 10px;
}

.apagar:hover{
    color: white;
    background-color: red;
}

.concluir{
    background-color: aliceblue;
    border: 1px solid black;
    padding: 4px;
    position: absolute;
    right: 70px;
    bottom: 2px;
    border-radius: 5px;
    color: var(--verdeSecundario);
    background-color: white;
    font-weight: bolder;
    font-size: 10px;
    text-transform: uppercase;
}
.concluir:hover{
    color: var(--douradoSecundario);
    background-color: var(--verdeSecundario);
}



.roda-pe{
    background-color: black;
    color: var(--douradoPrincipal);
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;

}